<a href="https://colab.research.google.com/github/maypel/Brief_Foil/blob/main/exercice_python_docstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

enviro = os.environ.get("code")

print(enviro)

None

In [ ]:
import time

start_time = time.time()

_ = [i*2 for i in range(9999999)]

print("--- %s seconds ---" % (time.time() - start_time))

--- 1.1088240146636963 seconds ---

In [ ]:
mot = "Udemy"
pop = "".join(reversed(mot)).capitalize()
pop

'Ymedu'

In [ ]:
In [1]: 
   ...:     rseq = "" 
   ...:     for char in seq: 
   ...:         rseq = char + rseq 
   ...:     return rseq 
   ...:

In [ ]:
def miror(seq):
  rseq = "" 
  for char in seq: 
    rseq = char + rseq
  return rseq

miror("azerty")

'ytreza'

In [ ]:
from random import randint

def shuffle(mot):
  new_mot = ""
  while len(mot)>0:
    random_nombre = randint(0, len(mot)-1)
    new_mot += mot[random_nombre]
    mot = mot[:random_nombre] + mot[random_nombre +1:]
  return new_mot

tom = "bonjour"
shuffle(tom)

'ujnboro'

In [ ]:
import random

mot = "bonjour"
tom = list(mot)

random.shuffle(tom)

solution = "".join(tom).capitalize()
solution

'Ubnrojo'

In [ ]:
a = 20
print("Vous êtes majeur!") if a > 18 else 0

Vous êtes majeur!

In [4]:
agechien = int(input("entrez l'âge d'un chien ?: "))
agehumain = 0

if agechien < 0:
  print("vous devez entrer un âge positif.")
elif agechien > 2:
  agehumain = 21 + (agechien - 2) * 4
  print(f"l'age du chien en âge humain est {agehumain}")
else:
  agehumain = agechien * 10.5
  print(f"l'age du chien en âge humain est {agehumain}")

entrez l'âge d'un chien ?: 10
l'age du chien en âge humain est 53

In [13]:
a = 4
b = 6
c = 2

liste_variable = [a, b, c]
liste_trie = []
liste_trie.append(min(liste_variable))
liste_trie.append(max(liste_variable) - min(liste_variable))
liste_trie.append(max(liste_variable))

print(liste_trie)

[2, 4, 6]

In [15]:
a = 4
b = 6
c = 2

liste_variable = [a, b, c]
mine = min(liste_variable)
reste = max(liste_variable) - min(liste_variable)
maxe = max(liste_variable)

print(f"Les nombres deans l'ordre sont {mine}, {reste} et {maxe}")

Les nombres deans l'ordre sont 2, 4 et 6

In [18]:
mot = "Python"

for i in range(len(mot)):
	print(i)

0
1
2
3
4
5

In [20]:
def multiplicateur_mot(mot, mult=5):
	return mot * mult

mot_multiplie = multiplicateur_mot(mot="Bonjour")
print(mot_multiplie)

BonjourBonjourBonjourBonjourBonjour

In [23]:
nombre = 7
multi = 10

for i in range(multi + 1):
  print(f"{i} * {nombre} = {i*nombre}")

0 * 7 = 0
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

In [1]:
liste = ["Pierre", "Paul", "Marie"]
i= 0

for v in liste:
  print(i, v)
  i +=1

0 Pierre
1 Paul
2 Marie

In [2]:
liste = ["Pierre", "Paul", "Marie"]
i= 0

for i, v in enumerate(liste):
  print(i, v)

0 Pierre
1 Paul
2 Marie

In [3]:
nombres = range(50)
nombres_pairs = []

for i in nombres:
    if i % 2 == 0:
        nombres_pairs.append(i)
        
print(nombres_pairs)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [13]:
nombres = range(50)
liste = [i for i in nombres if i 
         % 2 ==0]

print(liste)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]